div {
    background-color: red;
    width: 65px;
    height: 65px;
    border: 1px solid black;
    margin-left: 5px;
    background-clip: content-box;
  }

#first {
    padding: 10px;
    margin-bottom: 70px;
  }

#second {
    width: 100px;
    height: 100px;
    padding: 35px 70px 35px 85px;
    margin-bottom: 5px;
}

#third {
    width: 90px;
    height: 85px;
    padding: 24px 25px 53px 20px;
    margin-bottom: 100px;
}

#fourth {
    width: 75px;
    height: 75px;
    padding: 20px 80px 35px 200px;
    margin-bottom: 20px;
}
